@import url(http://fonts.googleapis.com/css?family=Muli);

.imagen{
	width: 250px;
	height: 250px;
	margin: 0;
}

#select{
	background-color: lightblue;
	border: 1px solid;
	font-family: "Muli";
}

.sepia{
	-webkit-filter: sepia(1);
	filter: sepia(1);
	
}

.blanco-negro{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.invertir-colores{
	-webkit-filter: invert(.8);
	filter: invert(.8);
}

